= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :gravatar_enabled do
            = f.check_box :gravatar_enabled
            Gravatar enabled
    .form-group.row
      = f.label :default_projects_limit, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :default_projects_limit, class: 'form-control'
    .form-group.row
      = f.label :max_attachment_size, 'Maximum attachment size (MB)', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :max_attachment_size, class: 'form-control'

      = render 'repository_size_limit_setting', form: f

    .form-group.row
      = f.label :session_expire_delay, 'Session duration (minutes)', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :session_expire_delay, class: 'form-control'
        %span.form-text.text-muted#session_expire_delay_help_block GitLab restart is required to apply changes
    .form-group.row
      = f.label :user_oauth_applications, 'User OAuth applications', class: 'col-form-label col-sm-2'
      .col-sm-10
        .form-check
          = f.label :user_oauth_applications do
            = f.check_box :user_oauth_applications
            Allow users to register any application to use GitLab as an OAuth provider
    .form-group.row
      = f.label :user_default_external, 'New users set to external', class: 'col-form-label col-sm-2'
      .col-sm-10
        .form-check
          = f.label :user_default_external do
            = f.check_box :user_default_external
            Newly registered users will by default be external

    - if ::Gitlab.dev_env_or_com?
      .form-group.row
        = f.label :check_namespace_plan, 'Check feature availability on namespace plan', class: 'col-form-label col-sm-2'
        .col-sm-10
          .form-check
            = f.label :check_namespace_plan do
              = f.check_box :check_namespace_plan
              Enabling this will only make licensed EE features available to projects if the project namespace's plan
              includes the feature or if the project is public.

  = f.submit 'Save changes', class: 'btn btn-success'
