= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      = f.label :help_text, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :help_text, class: 'form-control', rows: 4
        .form-text.text-muted Markdown enabled
    .form-group.row
      = f.label :help_page_text, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :help_page_text, class: 'form-control', rows: 4
        .form-text.text-muted Markdown enabled
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.label :help_page_hide_commercial_content do
            = f.check_box :help_page_hide_commercial_content
            Hide marketing-related entries from help
    .form-group.row
      = f.label :help_page_support_url, 'Support page URL', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :help_page_support_url, class: 'form-control', placeholder: 'http://company.example.com/getting-help', :'aria-describedby' => 'support_help_block'
        %span.form-text.text-muted#support_help_block Alternate support URL for help page

  = f.submit 'Save changes', class: "btn btn-success"
