= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .sub-section
      .form-group.row
        .offset-sm-2.col-sm-10
          .form-check
            = f.label :elasticsearch_indexing do
              = f.check_box :elasticsearch_indexing
              Elasticsearch indexing

      - missing = !Gitlab::Elastic::Indexer.experimental_indexer_present?
      .form-group.row
        .offset-sm-2.col-sm-10
          .form-check
            = f.label :elasticsearch_experimental_indexer do
              = f.check_box :elasticsearch_experimental_indexer, disabled: missing
              Use <a href="https://gitlab.com/gitlab-org/gitlab-elasticsearch-indexer">experimental repository indexer</a>
              - if missing
                (not installed)

      .form-group.row
        .offset-sm-2.col-sm-10
          .form-check
            = f.label :elasticsearch_search do
              = f.check_box :elasticsearch_search
              Search with Elasticsearch enabled

      .form-group.row
        = f.label :elasticsearch_url, 'URL', class: 'col-form-label col-sm-2'
        .col-sm-10
          = f.text_field :elasticsearch_url, value: @application_setting.elasticsearch_url.join(', '), class: 'form-control', placeholder: 'http://localhost:9200'
          .form-text.text-muted
            The url to use for connecting to Elasticsearch. Use a comma-separated list to support clustering (e.g., "http://localhost:9200, http://localhost:9201").

    .sub-section
      %h4 Elasticsearch AWS IAM credentials
      .form-group.row
        .offset-sm-2.col-sm-10
          .form-check
            = f.label :elasticsearch_aws do
              = f.check_box :elasticsearch_aws
              Using AWS hosted Elasticsearch with IAM credentials
      .form-group.row
        = f.label :elasticsearch_aws_region, 'AWS region', class: 'col-form-label col-sm-2'
        .col-sm-10
          = f.text_field :elasticsearch_aws_region, value: @application_setting.elasticsearch_aws_region, class: 'form-control'
          .form-text.text-muted
            Region that elasticsearch is configured

      .form-group.row
        = f.label :elasticsearch_aws_access_key, 'AWS Access Key', class: 'col-form-label col-sm-2'
        .col-sm-10
          = f.text_field :elasticsearch_aws_access_key, value: @application_setting.elasticsearch_aws_access_key, class: 'form-control'
          .form-text.text-muted
            AWS Access Key.  Only required if not using role instance credentials

      .form-group.row
        = f.label :elasticsearch_aws_secret_access_key, 'AWS Secret Access Key', class: 'col-form-label col-sm-2'
        .col-sm-10
          = f.password_field :elasticsearch_aws_secret_access_key, value: @application_setting.elasticsearch_aws_secret_access_key, class: 'form-control'
          .form-text.text-muted
            AWS Secret Access Key.  Only required if not using role instance credentials

  = f.submit 'Save changes', class: "btn btn-success"
