- is_admin = defined?(admin) ? true : false
.row.prepend-top-default
  .col-md-4
    .card
      .card-header
        SSH Key
      %ul.well-list
        %li
          %span.light Title:
          %strong= @key.title
        %li
          %span.light Created on:
          %strong= @key.created_at.to_s(:medium)
        %li
          %span.light Last used on:
          %strong= @key.last_used_at.try(:to_s, :medium) || 'N/A'

  .col-md-8
    = form_errors(@key, type: 'key') unless @key.valid?
    %p
      %span.light Fingerprint:
      %code.key-fingerprint= @key.fingerprint
    %pre.well-pre
      = @key.key
  .col-md-12
    .float-right
      - unless @key.is_a? LDAPKey
        = link_to 'Remove', path_to_key(@key, is_admin), data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove delete-key"
