= form_errors(geo_node)
.form-group.row
  = form.label :url, 'URL', class: 'col-form-label'
  .col-sm-10
    = form.text_field :url, class: 'form-control'

.form-group.row
  .offset-sm-2.col-sm-10
    .form-check
      = form.label :primary do
        = form.check_box :primary
        %strong This is a primary node

.js-hide-if-geo-primary{ class: ('hidden' unless geo_node.secondary?) }
  .form-group.row
    = form.label :selective_sync_type, s_('Selective synchronization'), class: 'col-form-label'
    .col-sm-10
      = form.select :selective_sync_type, selective_sync_type_options_for_select(geo_node),
          {}, { class: "form-control js-geo-node-selective-sync-type" }

  .form-group.row.js-sync-by-namespace{ class: ('hidden' unless geo_node.selective_sync_by_namespaces?) }
    = form.label :namespace_ids, s_('Geo|Groups to synchronize'), class: 'col-form-label'
    .col-sm-10
      = hidden_field_tag "#{form.object_name}[namespace_ids]", geo_node.namespace_ids.join(","), class: 'js-geo-node-namespaces', data: { selected: node_namespaces_options(geo_node.namespaces).to_json }
      .form-text.text-muted
        #{ s_("Choose which groups you wish to synchronize to this secondary node.") }

  .form-group.row.js-sync-by-shard{ class: ('hidden' unless geo_node.selective_sync_by_shards?) }
    = form.label :selective_sync_shards, s_('Geo|Shards to synchronize'), class: 'col-form-label'
    .col-sm-10
      = form.select :selective_sync_shards, repository_storages_options_for_select(geo_node.selective_sync_shards),
        { include_hidden: false }, multiple: true, class: 'form-control'
      .form-text.text-muted
        #{ s_("Choose which shards you wish to synchronize to this secondary node.") }

.form-group.row.js-hide-if-geo-primary{ class: ('hidden' unless geo_node.secondary?) }
  = form.label :repos_max_capacity, s_('Geo|Repository sync capacity'), class: 'col-form-label'
  .col-sm-10
    = form.number_field :repos_max_capacity, class: 'form-control', min: 0
    .form-text.text-muted
      #{ s_('Control the maximum concurrency of repository backfill for this secondary node') }

.form-group.row.js-hide-if-geo-primary{ class: ('hidden' unless geo_node.secondary?) }
  = form.label :files_max_capacity, s_('Geo|File sync capacity'), class: 'col-form-label'
  .col-sm-10
    = form.number_field :files_max_capacity, class: 'form-control', min: 0
    .form-text.text-muted
      #{ s_('Control the maximum concurrency of LFS/attachment backfill for this secondary node') }
